html
    head
        link(rel="stylesheet" href=autoVersion("/css/app.css"))
        meta(name="viewport" content="initial-scale=1")
        title React+Express Boilerplate
    body
        #app

        script(src=autoVersion("/js/client.js"))