@viewport {
    zoom: 1;
    width: extend-to-zoom;
}

html {
    height: 100%;
    background-color: #FFF;
    touch-action: manipulation;
}

body {
    min-height: 100%;
    background-color: #FFF;
    font-size: 1.25em; 
    font-family: "Noto Serif";
}

* {
    outline: none;
    border: none;
    box-shadow: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
    margin: 0;
    list-style: none;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    background-color: transparent;
    line-height: inherit;
}

::placeholder {
    color: rgba(#000, .25);
}

em {
    font-style: italic;
}

strong {
    font-weight: 500;
}

button,
label:not([for]),
select,
a {
    cursor: pointer;
}

.visually-hidden {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; 
    width: 1px; 
    margin: -1px; 
    padding: 0; 
    border: 0; 
}



@media (max-width: 950px) {
    nav li {
        display: inline-block;
        margin-left: 1em;
    }
}