
body {
    font-size: 1.5em;
    font-family: Oswald, sans-serif;
    font-weight: 300;
}

.h1 {
    font-size: 8.5em;
    font-weight: 600;
    text-transform: uppercase;
    font-family: Oswald;
    line-height: 1;
}

.h2 {
    margin-bottom: .5em;
    font-size: 1.5em;
    font-weight: bold;
}

.h3 { 
    font-size: .75em;
    text-transform: uppercase;
    margin-bottom: 4em;
    margin-top: 1.5em; 
    color: rgba(#FFF, .3);
    letter-spacing: .05em;
    text-align: center;
 
    &::before,
    &::after {
        content: "";
        display: inline-block;
        width: 4em;
        height: .1em;
        background: #555;
        vertical-align: middle;
        margin: 0 1em; 
    }

    &--fluff-top {
        margin-top: 6em;
        margin-bottom: -.75em;
        margin-left: auto;
        margin-right: auto;
        text-align: center;

        span { 
            background-color: #fff;
            color: #222;
            padding-left: 1em;
            padding-right: 1em;
            display: inline-block;
            position: relative;
            border-radius: .1em;
        }

        &::before, 
        &::after {
            display: none;
        }
    }
}