.app {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-self: strech-items;

    @media (max-width: 950px) { 
        flex-wrap: wrap;
        align-self: auto;
        height: auto;
    }

    &__logo {
        display: block;
        position: absolute;
        left: 5vw;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.5em;
        font-weight: 400;

        @media (max-width: 950px) {
            position: static;
            transform: none;
            font-size: 1.125em;
            flex: none;
            padding: 1.5rem 2rem;
        }

        span {
           font-size: 1.15em;
           font-family: serif; 
           font-style: italic;
        }
    }

    &__nav {
       flex: none;
       align-self: flex-end; 
       padding: 5vw;
       padding-bottom: 6vw;
       width: 25vw;

       @media (max-width: 950px) {
           position: static;
           flex: none;
           width: auto; 
           padding-top: 1.5em;
           padding-right: 2em;
           padding-bottom: 1.5em;
           padding-left: 0;
           margin-right: 0;
           margin-left: auto;
           align-self: flex-start;
       }
    }

    &__main {
       flex: 1;
       display: flex; 
   
       @media (max-width: 950px) {
           display: block; 
           flex-basis: 100%;
           width: 100vw;
           padding: 2em; 
           border-top: 1px solid #CCC;
       }

       .page {
           flex: 1;
           align-self: flex-end; 
           min-height: calc(50vh - 6vw + 1.5em);
           margin-top: 5vw;
           flex-wrap: wrap;
           margin-bottom: 6vw; 
           padding-right: 6vw;
       } 
    }
}
