.app { 
    min-height: 100vh;
    
    &__main {
        min-height: 100vh;
    }

    &__header {
        padding-top: 1.5em;
        position: absolute;
        z-index: 1;
        top:0;
        left:0;
        right:0;

        &-inner { 
            flex-wrap: wrap;
            display: flex; 
            
            @include container;
        }
    
        &__logo {
            flex: none;
            margin-left: 0;
            margin-right: auto;
            text-transform: uppercase;
        }
    
        &__nav {
            flex: none;
            margin-left: auto;
            margin-right: 0;
        }

        &__ruler { 
            flex-basis: 100%;
            margin-top: 1.5em;
            margin-bottom: 1.5em;
            border-bottom: .1em solid rgba(#FFF, .15);
        }
    }
}

.nav {
    text-transform: lowercase;
    font-family: "EB Garamond", serif;
    font-weight: 400;

    .active {
        font-style: italic;
    }

    ul {
        display: flex;
        flex-direction: row;

        li {
            flex: none;
            margin-left: 1em;
        }
    } 
}







.toolbar {
    position: fixed;
    left:0;
    right:0;
    bottom:0;
    text-transform: uppercase;
    z-index: 1;

    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        li {
            flex: none; 
        }
    }

    &__inner { 
        @include container;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding-bottom: 1.5em;
    }

    &__stuff {
        flex: none;
        margin-left: 0;
        margin-right: auto;

        li {
            margin-right: 1em;
        }
    }

    &__people {
        flex: none;
        margin-left: auto;
        margin-right: 0;
        
        .active {
            font-weight: 600;
        }

        li {
            margin-left: 1em;
        }
    }

    &__ruler { 
        flex-basis: 100%;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        border-bottom: .1em solid rgba(#FFF, .15);
    }
}