.poster {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: var(--header-height);
    padding-bottom: var(--header-height);
    box-sizing: border-box; 
    justify-content: center;
    font-size: 1.35em;
    text-transform: lowercase;
    font-family: "EB Garamond";
    font-style: italic;

    .icon {
        width: 4em;
        margin-bottom: 1em;
    }

    > * {
        align-self: center;
    }
}