 .rule-wizard {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     text-align: center;
     align-items: center;
     padding: 2em;
     border-radius: .085em;
     padding-top: 1em;
     border: .1em solid #444;
     margin-bottom: 3em;
     box-shadow: 0 0 1.5em rgba(#000, .1);
 
     &__group {
        flex: 1;
        flex-basis: 100%; 
     }

     &__legend {
         font-size: .75em;
         text-transform: uppercase;
         padding-bottom: 1em;
         padding-top: 2em; 
         opacity: .3;
         letter-spacing: .05em;
         display: block;
     }

     &__card {
         font-size: 2em;
         text-transform: uppercase;
         font-weight: 500;
         line-height: 1.1;
         user-select: none;
     }

     &__color {
        user-select: none;

        &__element {
            display: inline-block;
            margin-right: .25em;
            margin-left: .25em; 
        }

         &__dot {
             width: 1.5em;
             height: 1.5em;
             border-radius: 50%;
             border: .125em solid transparent;
             display: block;

             &::before { 
                display: block;
                content: "";
                height: 1em;
                border-radius: 50%;
                background-color: #FFF;
                width: 1em;
                margin-top: .25em;
                margin-left: .25em;
             }

             &--on {
                border-color: #FFF;
             }

             &--red::before {
                background-color: red;
            }

            &--black::before {
                background-color: #000;
            } 
         }
     }

     &__text {
         max-width: 13em * 2.25;
         margin-left: auto;
         margin-right: auto;
         
         .auto-textarea {
             margin-top: -.125em;
             font-family: "AB Garamond";
             text-transform: lowercase;
             line-height: 1.1;
             font-size: 2.25em; 
             font-weight: 400;
             font-style: italic;
         }
     }

     &__footer {
         margin-top: 1.5em;
         flex: 1;
     }
 }

 .button {
     padding: .65em 1em;
     text-transform: uppercase;
     font-size: .65;
     background-color: #FFF;
     color: #222;
 }