 .rule-wizard {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     text-align: center;
     align-items: center;
 
     &__group {
        flex: 1;
        flex-basis: 100%; 
     }

     &__legend {
         font-size: .75em;
         text-transform: uppercase;
         margin-bottom: 1em;
         margin-top: 2em;
         opacity: .3;
         letter-spacing: .05em;
     }

     &__card {
         font-size: 2em;
         text-transform: uppercase;
         font-weight: 500;
         line-height: 1.1;
         user-select: none;
     }

     &__color {
        user-select: none;

         &__dot {
             width: 1.5em;
             height: 1.5em;
             border-radius: 50%;
             display: inline-block;
             margin-right: .25em;
             margin-left: .25em; 
             border: .125em solid transparent;

             &::before {
                content: "";
                display: block;
                height: 1em;
                border-radius: 50%;
                background-color: #666;
                width: 1em;
                margin-top: .25em;
                margin-left: .25em;
             }

             &--on {
                border-color: #FFF;
             }

             &--red::before {
                background-color: red;
            }

            &--black::before {
                background-color: #000;
            } 
         }
     }

     &__text {
         font-family: "AB Garamond";
         text-transform: lowercase;
         line-height: 1.1;
         font-size: 2.25em; 
         font-weight: 400;
         font-style: italic;
         max-width: 13em;
         margin-left: auto;
         margin-right: auto;
         
         .auto-textarea {
             margin-top: -.125em;
         }
     }

     &__footer {
         margin-top: 1.5em;
         flex: 1;
     }
 }

 .button {
     padding: .65em 1em;
     text-transform: uppercase;
     font-size: .65;
     background-color: #FFF;
     color: #222;
 }