 .rule-wizard {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     text-align: center;
     align-items: center;
 
     &__group {
        flex: 1;
        flex-basis: 100%;

        &--inline {
            flex: 0;
            flex-basis: 0;
            margin-right: 2.5em;
        }
     }

     &__legend {
         font-size: .75em;
         text-transform: uppercase;
         margin-bottom: 1em;
         margin-top: 2em;
         opacity: .3;
         letter-spacing: .05em;
     }

     &__card {
         font-size: 2em;
         text-transform: uppercase;
         font-weight: 500;
         line-height: 1.1;
         user-select: none;
     }

     &__color {
        user-select: none;

         &__dot {
             width: 2em;
             height: 2em;
             border-radius: 50%;
             display: inline-block;
             margin-right: .75em;
             background-color: #666;
             border: .15em solid transparent;

             &--on {
                border-color: #FFF;
             }

             &--red {
                background-color: red;
            }

            &--black {
                background-color: #000;
            } 
         }
     }

     &__text {
         font-family: "AB Garamond";
         text-transform: lowercase;
         line-height: 1.35;
         font-size: 1.5em; 
         font-weight: 400;
         font-style: italic;
         
         .auto-textarea {
             margin-top: -.25em;
         }
     }

     &__footer {
         margin-top: 3em;
         flex: 1;
     }
 }

 .button {
     padding: .65em 1em;
     text-transform: uppercase;
     font-size: .65;
     background-color: #FFF;
     color: #222;
 }