.rules-list {
    margin-bottom: 3em; 
    
    &__element { 
        &::after { 
            width: 100%;
            display: none; 
            content: "";
            height: .1em;
            margin-top: 2.25em;
            margin-bottom: 2.25em; 
            flex-basis: 100%; 
            background-image: linear-gradient(to right, white 33%, rgba(255,255,255,0) 0%);
            background-position: bottom center;   
            background-size: .925em .1em;
            background-repeat: repeat-x;
            opacity: .1;
        }

        &:not(:last-child)::after { 
            display: block;
        }

        &__rule {
            font-size: 1.5em;
            font-weight: 500;
            margin-bottom: .5em;
            opacity: .45;
        }

        &__text {
            font-size: 2.5em;
            line-height: 1.15;
            max-width: 15em;
            font-family: "AB Garamond";
            font-style: italic;
            text-transform: lowercase;
            font-weight: 400;
        }
    }
}