.card {  
    &-enter {
        transition: opacity .45s .1s; 
        opacity: 0;

        &-active {
            opacity: 1; 
        }
    } 
    
    &__inner {
        @include container;
        display: flex;
        flex-direction: row;
        box-sizing: border-box; 
        flex-wrap: wrap;
        align-items: flex-end;
        align-content: flex-end;  
        padding-bottom: 3.85em;

        &::before { 
            width: 100%;
            content: "";
            display: block; 
            height: .1em;
            margin-bottom: 3.75em; 
            flex-basis: 100%; 
            background-image: linear-gradient(to right, white 33%, rgba(255,255,255,0) 0%);
            background-position: bottom;   
            background-size: .925em .15em;
            background-repeat: repeat-x;
            opacity: .1;
        }

        &--match {
            padding-top: 3.75em;

            &::before {
                display: none;
            }
        }

        &--last {   
            padding-bottom: var(--header-height);  
        }

        &--first { 
            min-height: 100vh;
            padding-top: var(--header-height);  
            padding-bottom: var(--header-height);  
            
            &::before {
                display: none;
            }
        }
    }

    &__details {
        font-size: 1.25em;
        text-transform: uppercase;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-basis: 100%;
        opacity: .65;

        &__element {
            flex: none; 

            &:not(:last-child)::after {
                content: "//";
                display: inline-block;
                margin: 0 1em; 
                opacity: .5;
            }
        }
    }

    &__text {
        font-family: "EB Garamond", serif;
        font-size: 3.5em;
        line-height: 1.3;
        flex-basis: 100%;
        margin-top: .5em;
        text-transform: lowercase;
        margin-bottom: .5em;
        font-style: italic;
    }

    &__title {
        font-size: 7.25em; 
        font-weight: 600;
        text-transform: uppercase;
        align-self: flex-end;
        font-family: Oswald;
        line-height: .95;
        flex-basis: 100%;

        &__rank {
            display: block;
        }

        &--match {
            font-size: 2em;
            font-weight: 500;
        }
    }
}
